.page-header {
    background-color: #108B51;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

p {
    margin-left: 20px;
    color: #108B51;
    font-size: 14px;
}

.date {
    color: #828282;
}

.producto {
    color: #68B591;
    font-size: 14px;
}

.producto h2 a{
    color: #108B51;
    font-size: 28px;
}

.save {
    float: right;
    background-color: #C1E1D2;
}

.product-form textarea, .product-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.top-user, .top-user:hover, .top-user:visited {
    color: #ffffff;
    font-size: 20pt;
    margin-left: 20px;
}