{% load static %}
<html>
<head>
    <title>Manejo Veterinaria</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/veterinaria.css' %}">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
</head>

<body>


<div class="page-header">
    <div class="row">
        <h1><a href="/">Manejo de Productos de la Veterinaria</a></h1>
    </div>
    <div class="row" if="user-login-logout">
        {% if user.is_authenticated %}
            <div class="top-user"> ¡Hola {{ user.username }}!
                <a href="{% url 'logout' %}" class="btn">
                    <span class="glyphicon glyphicon-log-out"></span> </a>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="top-user"> Debés ingresar para editar</a>
        {% endif %}
    </div>
    <div class="row" id="button-menu">

        <span class="glyphicon glyphicon-barcode btn-non-clickable"></span>
        <input type="button" id="scan_zxing" class="btn" value="Scan Codigo de Barras"/>
        <script>
            function base_addr_zxing() {
                var web_base = window.location.protocol + "//" + window.location.host;
                var zxing = "zxing://scan/?ret=" + web_base + "/producto/codigo_de_barras%2F%7BCODE%7D";
                return zxing;
            }

            document.getElementById("scan_zxing").addEventListener("click", function () {
                var dir = base_addr_zxing();
                window.open(dir, "_self");
            }, false);

        </script>
    </div>
</div>

<div class="content container">
    <div class="row">
        <div class="col-xs-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>

</html>