{% extends 'LibroDiario/base.html' %}

{% block content %}
    <h1>Lista de productos</h1>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Buscar</button>
    </form>
    {% for producto in filter.qs %}

        <div class="producto">
            <h2><a href="{% url 'detalle_producto' pk=producto.pk %}">Producto: {{ producto.nombre }}</a></h2>
            <p>Codigo de Barras: {{ producto.codigo_de_barras }}</p>
            <p>Categoria : {{ producto.categoria }}</p>
            <div class="date"><p>Fecha de última modificación: {{ producto.fecha_ultima_modificacion }}</p></div>
        </div>

    {% endfor %}
{% endblock %}